<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee" bean-discovery-mode="all">
    <scan>
    <!-- These exclusions were added by Errai to avoid deploying client-side classes to the server -->
    <exclude name = "org.jboss.errai.todomvc.client.local.App" />
    <exclude name = "org.jboss.errai.todomvc.client.local.DataSync" />
    <exclude name = "org.jboss.errai.todomvc.client.local.I18nProducer" />
    <exclude name = "org.jboss.errai.todomvc.client.local.MainPage$1" />
    <exclude name = "org.jboss.errai.todomvc.client.local.MainPage$2" />
    <exclude name = "org.jboss.errai.todomvc.client.local.MainPage" />
    <exclude name = "org.jboss.errai.todomvc.client.local.TodoItemsWidget" />
    <exclude name = "org.jboss.errai.todomvc.client.local.TodoItemWidget" />
    <exclude name = "org.jboss.errai.todomvc.client.local.TodoMessages" />
    <!-- End of Errai exclusions -->



















        </scan>
</beans>